HTTP_PORT=9090
HTTP_HOST=0.0.0.0

STREAM_EXPIRATION_TIME_IN_MINUTES=5
ROOT_URL=http://localhost:9090/

RTSP_SERVER_HOST_ADDRESS=0.0.0.0
RTSP_SERVER_HOST_NAME=localhost
RTSP_SERVER_PORT=5596
RTSP_SERVER_USER=little
RTSP_SERVER_PASSWORD=cat

LOAD_DEFAULT_STREAMS=true
TABLE_NAME=michilante_dev
PARTITION_KEY=camera

AWS_ACCESS_KEY_ID=[aws access key]
AWS_SECRET_ACCESS_KEY=[aws secret access key]
AWS_REGION=mx-sin-1

STREAM_MAX_LIFE_TIME_IN_MINUTES=4
